@{
    ViewBag.Title = "消息推送管理";
}
<script src="@Url.Content("~/Scripts/jquery.signalR-1.1.4.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Signalr/Hubs")"></script>
<script src="@Url.Content("~/Scripts/artDialog4.1.7/jquery.artDialog.source.js?skin=default")" type="text/javascript"></script>
<form>
    <input type="text" id="message" name="message" />
    <input type="submit" value="广播消息!" onclick="return onSubmit()" />
</form>
<script>
    artDialog.notice = function (options) {
        var opt = options || {},
        api, aConfig, hide, wrap, top,
        duration = 800;

        var config = {
            id: 'Notice',
            left: '100%',
            top: '100%',
            fixed: true,
            drag: false,
            resize: false,
            follow: null,
            lock: false,
            init: function (here) {
                api = this;
                aConfig = api.config;
                wrap = api.DOM.wrap;
                top = parseInt(wrap[0].style.top);
                hide = top + wrap[0].offsetHeight;

                wrap.css('top', hide + 'px')
                .animate({ top: top + 'px' }, duration, function () {
                    opt.init && opt.init.call(api, here);
                });
            },
            close: function (here) {
                wrap.animate({ top: hide + 'px' }, duration, function () {
                    opt.close && opt.close.call(this, here);
                    aConfig.close = $.noop;
                    api.close();
                });

                return false;
            }
        };

        for (var i in opt) {
            if (config[i] === undefined) config[i] = opt[i];
        };

        return artDialog(config);
    };
    @*function onSubmit() {
        $.ajax({
            url: '@Url.Action("Push")',
            data: { msg: $("#message").val() },
            type: 'post',
            dataType: 'json',
            success: function (result) {
                //                if (result.IsSuccess) {
                //                    alert(result.Message);
                //                    $('#message').val('');
                //                }
            }
        })
        return false;
    }*@

    function onSubmit() {
        $.ajax({
            url: '@Url.Action("Add")',
            type: 'post',
            dataType: 'json',
            success: function (result) {
                //                if (result.IsSuccess) {
                //                    alert(result.Message);
                //                    $('#message').val('');
                //                }
            }
        })
        return false;
    }

    // 引用自动生成的集线器代理
    var pushHub = $.connection.pushHub;

    // 定义服务器端调用的客户端notice来显示新消息
    pushHub.client.push = function (message) {
        art.dialog.notice({
            title: '我是服务器推送来的通知!',
            width: 220, // 必须指定一个像素宽度值或者百分比，否则浏览器窗口改变可能导致artDialog收缩
            content: message,
            icon: 'face-smile',
            time: 5
        });
    }
    $.connection.hub.start();   // 开始连接服务器
</script>
